/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    background-image:url('https://static8.depositphotos.com/1007989/954/i/950/depositphotos_9548596-stock-photo-books-background.jpg');
}

header {
    background-color:rgb(182, 169, 169);
    color: #fff;
    padding: 1em;
    text-align: center;
}

main {
    padding: 1em;
    max-width: 1200px;
    margin: 0 auto;
}

h1, h2 {
    color: #333;
}

#intro p, #story p {
    font-size: 1.2em;
}

button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 0.5em 1em;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

#team {
    margin-top: 2em;
}

.team-member {
    display: inline-block;
    width: 45%;
    margin: 1em 2.5%;
    text-align: center;
}

.team-member img {
    width: 100%;
    height: auto;
    border-radius: 50%;
}

footer {
    background-color:rgb(182, 169, 169);
    color: #fff;
    padding: 1em;
    text-align: center;
}