 body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;

}

.header {
    background-color:rgb(182, 169, 169);
    color: #fff;
    padding: 20px;
    text-align: center;
}

.navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

.navbar li {
    margin: 0 15px;
}

.navbar a {
    color: #fff;
    text-decoration: none;
}

.main-content {
    padding: 20px;
    max-width: 1200px;
    margin: auto;
}

.featured-books, .genres {
    margin-bottom: 40px;
}

.book-list, .genre-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.book-item, .genre-item {
    background-color: #fff;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    border-radius: 8px;
}

.book-item img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
    border-radius: 5px;
}

.genre-item {
    padding: 20px;
    width: 150px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.genre-item:hover {
    background-color: #ddd;
}

.footer {
    background-color:rgb(182, 169, 169);
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
